@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}


/* Add this CSS to your stylesheet */

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .welcome-image {
    animation: rotate 10s linear infinite;
  }
  
  .flex {
    display: flex;
  }
  
  .justify-end {
    justify-content: flex-end;
  }
  